body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f4f4;
}

header{
position:absolute;
top:0;
left:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 60px;
background:transparent;
color:white;
z-index:10;
}

nav a{
color:white;
margin-left:30px;
text-decoration:none;
font-weight:600;
font-size:15px;
transition:0.3s;
}

nav a:hover{
color:#ff6a00;
}

.hero{
background-image:linear-gradient(
rgba(0,0,0,0.65),
rgba(0,0,0,0.35)
), url("hero-energie.png");

background-size:cover;
background-position:center;
text-align:center;
padding:220px 20px 180px 20px;
color:white;
}

.btn{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#ff6a00;
color:white;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.intro{
background:white;
padding:60px 20px;
text-align:center;
}

footer{
background:#1c1c1c;
color:white;
text-align:center;
padding:30px;
}

.logo{
background:rgba(255,255,255,0.15);
padding:8px 14px;
border-radius:8px;
backdrop-filter:blur(6px);
}

.logo{
font-size:22px;
font-weight:700;
letter-spacing:2px;
color:white;
text-transform:uppercase;
}
